<style>
    body {
        margin: 0px;
        height: 100%;
        }
        /* a blue color as a generic focus style */
    button:focus-visible {
        outline: 2px solid #4a90e2 !important;
        outline: -webkit-focus-ring-color auto 5px !important;
    }
    .box {
  width: 1440px;
  height: 100px;
}

.box .group {
  position: fixed;
  width: 1448px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #1c558d;
}

.box .navbar {
  position: relative;
  width: 910px;
  height: 50px;
  top: 25px;
  left: 270px;
}

.box .discover {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #63d3e9;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .about-us{
  position: absolute;
  width: 180px;
  height: 50px;
  top: 0;
  left: 180px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #63d3e9;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .how-it-works {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 0;
  left: 540px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #63d3e9;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .FAQ-s {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 0;
  left: 720px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #63d3e9;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .become-a-partner {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 0;
  left: 360px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #63d3e9;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
</style>
<footer>
    <div class="box">
        <div class="group">
          <div class="navbar">
            <div class="discover">&gt; Discover</div>
            <div class="about-us">&gt; About Us</div>
            <div class="how-it-works">&gt; How It Works</div>
            <div class="FAQ-s">&gt; FAQ’s</div>
            <div class="become-a-partner">&gt; Become A Partner</div>
          </div>
        </div>
      </div>
</footer>
